name: python3.12
on: [push]
jobs:
    build:
      name: Ubuntu (Python3.12)
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4
        - name: Setup Python 3.12
          uses: actions/setup-python@v5
          with:
            python-version: '3.12'
        - name: Install UV
          run: python -m pip install uv
        - name: Run Unit Tests
          run: uv run pytest